Options +FollowSymLinks
RewriteEngine On
RewriteRule ^rss.xml$ rss.php [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-z]+)/([0-9]+)/? $1.php?id=$2 [L]
ErrorDocument 403 http://oleg-stroi.ru/403.php
ErrorDocument 404 http://oleg-stroi.ru/404.php
